<h2><i>Welcome to Commuters' Guide</i></h2>
<div class="row">
    <div class="col-md-8">
        <p>Need to go somewhere? Search guides here</p>
        <form class="form-inline" ng-submit="search()">
            <label>From:</label>
            <input class="form-control" type="text" ng-model="search.from">
            <label>To:</label>
            <input class="form-control" type="text" ng-model="search.to">
            <button class="btn btn-primary form-control" type="submit">
                <i class="fas fa-search"></i> Search
            </button>
        </form>
        <hr>
        <i ng-bind="message"></i>
        <table class="table table-striped">
            <tbody>
                <tr ng-repeat="post in posts">
                    <td><a ui-sref="viewPost({_id: post._id})">{{post.title.from}} to {{post.title.to}}</a></td>
                    <td>{{post.title.startTime}} to {{post.title.endTime}}</td>
                    <td>
                        <div ng-repeat="step in post.steps">
                            <i class="{{step.mode}}"></i>
                        </div>
                    </td>
                    <td>
                        <i class="fas fa-thumbs-up"></i> 1k 
                        &nbsp;
                        <i class="fas fa-thumbs-down"></i> 3
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="row">
            Want to post a guide? Click <a ui-sref="post">here</a>
        </div>
        <hr>
        <div class="row" style="display: block; height: 200px;">
                <i class="fas fa-newspaper fa-lg"></i> 
                <strong><b>News</b></strong><br><br>
                <ul>
                    <li>user001 posted a guide from <a>DLSU to SM Southmall</a></li>
                </ul>
        </div>
        <hr>
        <div class="row" style="display: block; height: 200px;">
                <i class="fas fa-map fa-lg"></i>
                <strong><b>Popular Guides</b></strong><br><br>
                <ul>
                    <li>
                        <a>SM Southmall to SM Mall of Asia</a> &nbsp;
                        <i class="fas fa-thumbs-up"></i> 2k
                    </li>
                    <li>
                        <a>AWS Makati to Teresa Park</a> &nbsp;
                        <i class="fas fa-thumbs-up"></i> 1.5k
                    </li>
                </ul>
        </div>
        
    </div>
</div>