<a ui-sref="post">
    <button class="btn btn-primary">New Post</button>
</a>
<hr>
<table class="table">
    <thead>
        <th>Title</th>
        <th>Time</th>
        <th>Steps</th>
        <th>Likes/Dislikes</th>
        <th>Comments</th>
        <th></th>
    </thead>
    <tbody>
        <tr ng-repeat="post in posts">
            <td><a ui-sref="viewPost({_id: post._id})">{{post.title.from}} to {{post.title.to}}</a></td>
            <td>{{post.title.startTime}} to {{post.title.endTime}}</td>
            <td>
                <div ng-repeat="step in post.steps" style="display: inline">
                    <i class="{{step.mode}}"></i>
                </div>
            </td>
            <td>
                <i class="fas fa-thumbs-up"></i> {{post.likes.length}} 
                &nbsp;
                <i class="fas fa-thumbs-down"></i> {{post.dislikes.length}} 
            </td>
            <td>{{post.comments.length}}</td>
            <td>
                <a ui-sref="post({_id: post._id})">
                    <button type="button" class="btn btn-default">Edit</button>
                </a>
                <button type="button" class="btn btn-danger" ng-click="deletePost(post._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>