<div class="row">
    <div class="col-md-3">
        <i ng-bind="message"></i>
        <hr>
        <form ng-submit="submitStep()">
            <label>From:</label>
            <input type="text" class="form-control" ng-model="stepForm.from" required>
            <label>To:</label>
            <input type="text" class="form-control" ng-model="stepForm.to" required>
            <label>Waiting Time:</label>
            <input type="text" class="form-control" ng-model="stepForm.waitTime" required>
            <label>Travel Time:</label>
            <input type="text" class="form-control" ng-model="stepForm.travelTime" required>
            <label>Mode of Transportation:</label>
            <select class="form-control" ng-model="stepForm.mode" required>
                <option value="" selected> -- Select --</option>
                <option value="fas fa-child">Walk</option>
                <option value="fas fa-motorcycle">Tricycle</option>
                <option value="fas fa-taxi">Taxi</option>
                <option value="fas fa-car">Car</option>
                <option value="fas fa-bus">Bus</option>
                <option value="fas fa-train">Train</option>
                <option value="fas fa-ship">Ship</option>
                <option value="fas fa-plane">Plane</option>
            </select>
            <label>Fare:</label>
            <input type="text" class="form-control" ng-model="stepForm.fare" required>
            <label>Description:</label>
            <textarea class="form-control" ng-model="stepForm.description"></textarea>

            <br>
            <button type="submit" class="btn btn-primary pull-right">Save</button>
        </form>
        <small><i>*Post accurately to get more likes</i></small>
    </div>
    <div class="col-md-9">
        <form class="form-inline" ng-submit="submitPost()">
            <label>From </label>
            <input type="text" class="form-control" ng-model="post.title.from" required>
            <label> to </label>
            <input type="text" class="form-control" ng-model="post.title.to" required>
            <label>, </label>
            <input type="time" class="form-control" ng-model="post.title.startTime" required>
            <label> to </label>
            <input type="time" class="form-control" ng-model="post.title.endTime" required>
            <button type="submit" class="btn btn-primary pull-right">Save Post</button>
        </form>
        <hr>
        <table class="table table-striped">
            <tbody>
                <tr ng-repeat="step in post.steps">
                    <td>Step {{$index + 1}}</td>
                    <td ng-bind="step.from + ' to ' + step.to"></td>
                    <td>
                        <i class="{{step.mode}}"></i>
                        <text ng-bind="step.fare + ' Php'"></text>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm" ng-click="editStep($index)">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm" ng-click="deleteStep($index)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>