<h3>From {{post.title.from}} to {{post.title.to}}, {{post.title.startTime}} to {{post.title.endTime}}</h3>
<hr>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <div ng-repeat="step in post.steps">
            <big><b>Step {{$index + 1}} - </b></big><i class="{{step.mode}} + fa-lg"></i><br><br>
            <p>From: <b>{{step.from}}</b> to <b>{{step.to}}</b></p>
            <p>Waiting Time:  {{step.waitTime}}</p>
            <p>Travel Time: {{step.travelTime}}</p>
            <p>Fare: {{step.fare}}</p>
            <i ng-if="step.description">"{{step.description}}"</i>
            <br><br>
        </div>
        <hr>
        <button class="btn btn-default + {{(isLiked) ? 'active': ''}}" ng-disabled="!current_user.isLoggedIn" ng-click="likePost()"><i class="fas fa-thumbs-up fa-lg"></i> {{post.likes.length}}</button>
        <button class="btn btn-default + {{(isLiked) ? '': 'active'}}" ng-disabled="!current_user.isLoggedIn" ng-click="dislikePost()"><i class="fas fa-thumbs-down fa-lg"></i> {{post.dislikes.length}}</button>        
        <br><br>
        <strong>Comments:</strong><br><br>
        <form ng-submit="comment()" ng-if="current_user.isLoggedIn">
            <input class="form-control" type="text" placeholder="Share your thoughts">
            <button class="btn btn-primary pull-right">Comment</button>
        </form>
        <div>
            <br><br>
            <small>
                <p><b>user001</b></p>
                this is really helpful!
            </small>      
        </div>
    </div>
</div>